.figures-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figures-container h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 10px;
}

.looking-container {
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.looking-container input {
  height: 40px;
  width: 60%;
  border: 1px solid black;
  border-radius: 25px;
  margin: 5px;
  padding-left: 20px;
}

.looking-container button {
  height: 30px;
  width: 15%;
  border: 1px solid black;
  border-radius: 25px;
  background: #ff910085;
  margin: 5px;
}

.looking-container input:focus {
  outline: none;
}

.looking-container button:focus {
  outline: none;
}

.looking-container button:hover {
  cursor: pointer;
}

.figure-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.available-figures {
  height: 100%;
  width: 25%;
  border: 1px solid black;
  margin: 10px;
}

.title-available-figures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-available-figures h1 {
  font-size: 30px;
}

.items-available-figures {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.item-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-available img {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.item-available h2 {
  font-size: 12px;
}

.select-figures {
  height: 100%;
  width: 65%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-figures h1{
  font-size: 30px;
}

.title-available-figures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-select-figures h1{
  font-size: 30px;
}

.added-figures {
  min-height: 300px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.new-added-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-added-figure img {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.new-added-figure h1 {
  font-size: 20px;
}

.new-added-figure h2 {
  font-size: 12px;
}

.new-added-figure button {
  height: 12px;
  width: 12px;
  font-size: 10px;
  background: #fff;
  border: 0.1px solid black;
  margin: 2px;
}

.new-added-figure button:focus {
outline: none;
}

.model-figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.model-figure img {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.model-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.model-container h1 {
  font-size: 20px;
}

.model-container h2 {
  font-size: 12px;
}

.model-figure button {
  height: 30px;
  width: 30px;
  font-size: 18px;
  background: #fff;
  border: 0.1px solid black;
  margin: 0px 10px;
}

.model-figure button:hover {
  transform: scale(1.1);
  transition: transform 400ms;
}
