.figures-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figures-container h1 {
  font-size: 60px;
  font-weight: 400;
  margin-top: 10px;
}

.looking-container {
  height:auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.looking-container input {
  height: 40px;
  width: 60%;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 10px;
}

.looking-container button {
  height: 30px;
  width: 15%;
  border: 1px solid black;
  border-radius: 25px;
  margin: 15px;
  padding: 5px 10px;
  background: #ff910085;
}

.looking-container input:focus {
outline: none;
}


.figure-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.available-figures {
  height: 100%;
  width: 25%;
  border: 1px solid black;
  margin: 10px;
}

.title-available-figures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-available-figures h1{
  font-size: 30px;
}

.items-available-figures {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.item-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-available img {
  height: 80px;
  width: 80px;
}

.item-available h2 {
  font-size: 12px;
}

.select-figures {
  height: 350px;
  width: 65%;
  border: 1px solid black;
}
